body {
  height: 100%; /* Utiliza vh para que ocupe la altura de la ventana */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Una fuente más moderna */
  background-color: #f4f4f4; /* Un fondo gris claro */
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 92.6vh; /* Asegura que el contenedor ocupe casi toda la altura de la ventana */
  height: 100%;
  background-color: #ccc;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 30px; /* Aumenta el padding interior */
  width: 400px; /* Un poco más de ancho para mejor distribución */
  background-color: #fff; /* Fondo blanco para el contenedor */
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.login-form-logo {
  width: 180px; /* Un poco más pequeño */
  margin-bottom: 30px; /* Reduce el margen inferior */
}

.login-form-logo img {
  height: auto; /* Mantiene la proporción */
  width: 100%; /* El logo ocupa todo el ancho de su contenedor */
}

.login-form {
  width: 100%; /* El formulario ocupa todo el ancho del contenedor */
  display: flex;
  flex-direction: column; /* Alinea los elementos del formulario en columna */
}

.login-form-group {
  display: flex;
  flex-direction: column; /* Apila la etiqueta y el input */
  margin-bottom: 20px;
  width: 100%; /* Ocupa todo el ancho del formulario */
}

.login-form-group label {
  margin-bottom: 8px;
  color: #333; /* Texto más oscuro */
  font-weight: bold; /* Etiqueta en negrita */
}

.login-form-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-form-group input:focus {
  outline: none;
  border-color: #007bff; /* Resalta al enfocar */
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}

.login-form-button {
  background-color: #007bff; /* Color azul primario */
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease; /* Transición suave al hover */
}

.login-form-button:hover {
  background-color: #0056b3; /* Un tono de azul más oscuro al pasar el ratón */
}
